<header>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Banco_Pichincha_logo.svg/2560px-Banco_Pichincha_logo.svg.png"
    alt="Logo" class="logo-header" />
</header>

<div class="product-list-container">
  <div class="search-and-button">
    <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" class="search-input" />
    <button class="add-button" (click)="agregarProducto()">Agregar</button>
  </div>

  <div style="overflow-x: auto;">
    <table class="product-table">
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
  <tr *ngFor="let producto of paginated">
    <td data-label="Logo"><img [src]="producto.logo" class="logo" alt="logo" /></td>
    <td data-label="Nombre del producto">{{ producto.name }}</td>
    <td data-label="Descripción">{{ producto.description }}</td>
    <td data-label="Fecha de liberación">{{ producto.date_release | date: 'dd/MM/yyyy' }}</td>
    <td data-label="Fecha de reestructuración">{{ producto.date_revision | date: 'dd/MM/yyyy' }}</td>
    <td data-label="Acciones">
      <div class="dropdown">
        <button class="btnDropdown">⁝</button>
        <div class="dropdown-content">
          <button (click)="selectProducto(producto)">Editar</button>
          <button (click)="abrirModalEliminar(producto)">Eliminar</button>
        </div>
      </div>
    </td>
  </tr>
</tbody>

    </table>
  </div>


  <div class="pagination-container">
    <span>{{ totalResultados }} Resultados</span>

    <div class="pagination-controls">
      <span class="page-info">Página {{ currentPage }} de {{ totalPaginas }}</span>
      <button class="pagination-button" (click)="paginaAnterior()" [disabled]="currentPage === 1">
        &lt;
      </button>
      <button class="pagination-button" (click)="paginaSiguiente()" [disabled]="currentPage === totalPaginas">
        &gt;
      </button>
    </div>
  </div>


</div>


<div class="modal-overlay" *ngIf="mostrarModal">
  <div class="modal">
    <p>¿Estás seguro de eliminar el producto {{ productoSeleccionado?.name }}?</p>
    <hr />
    <div class="modal-buttons">
      <button class="btn-cancelar" (click)="cerrarModal()">Cancelar</button>
      <button class="btn-confirmar" (click)="confirmarEliminacion()">Confirmar</button>
    </div>
  </div>
</div>